.text-align-center {
    text-align: center;
}

#myBoard {
    max-width: 100%;
    height: auto;
    overflow: scroll;
    scale: 1.3;
    transform:translate(75%, -30%);
    position: sticky !important;    

    
}
body{
    background-color: beige;
    overflow: hidden;
}
.highlight-white {
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight-hint {
    box-shadow: inset 0 0 3px 3px red;
}

.no-underline {
    text-decoration: none;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.btn-header {
    font-size: 20px;
    font-weight: bold;
}

#settingsHeading{
    
    translate:55%;
    max-width: 100%;
    position: absolute;
    z-index: 100;
}
.form-group{
    translate: 0% 10vh !important; 
    
}
.overskrift{
    translate: -30% 25% !important;
    z-index: 100;
}
#hide{
    display: none;
    
}
.knapper{
    position: absolute;
    translate: -20% -150%;
    padding: 10%;
}

